<!DOCTYPE html>
<head>
    <link rel="stylesheet" type = "text/css" href="../css/styleHome.css">
    <title>HOME</title>
</head>

<body>
    <div class="base-container">
        <nav class = "navigate">
            <div class ="logo">
                <img src="../img/bboardLogoCut.png">
            </div>
            <div class = "buttons">
                <button>Moje gry</button>
                <button>Wyszukaj</button>
                <button>Gdzie kupić grę</button>
                <button>Wyloguj</button>
            </div>
        </nav>
        <main>
            <section class = "suggested">
                <div>
                    suggest 1
                </div>
                <div>
                    suggest 2
                </div>
                <div>
                    suggest 3
                </div>


            </section>

        </main>
    </div>

</body>