body{
    margin: 0;
    padding-left: 5%;
    padding-right: 5%;

    background: transparent url('../img/bbBackLogin.jpg') 0% 0% no-repeat padding-box;
    background-size: cover;
}
.container{
    width: 100%;
    height: 100vh;


    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
}

.logo{
    width: 50%;
    height: 50vh;
    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    

}
.login-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

}





form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 40vh;


    background: #D9D9D9 0% 0% no-repeat padding-box;
    box-shadow: inset 0px 3px 6px #3D3812B3;
    border-radius: 84px;
    background-color: rgba(0, 0, 0, 0.2);">

}


button{
    background: transparent linear-gradient(180deg, #ECECEC 0%, #134D7E 100%) 0% 0% no-repeat padding-box;
    border-radius: 24px;
    opacity: 0.9;
    width: 40%;

    margin: 1em;

    text-align: center;
    font: normal normal bold 10px/12px Arial;
    letter-spacing: 0px;
    color: #FFFFFF;
    line-height: 2.5em;



}

input{
    width: 70%;
    padding: 1em;
    margin: 1em;


    background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
    border: 2px solid var(--unnamed-color-bce0fd);
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #BCE0FD;
    border-radius: 24px;

    opacity: 1;

}

/*@media only screen and (max-width: 600px){*/
/*    form{*/
/*        border-radius: 2.5em;*/
/*    }*/
/*}*/

@media (max-width: 800px),(max-device-width: 800px) {
    form{
        border-radius: 1em;
    }

}

@media (max-width: 600px),(max-device-width: 600px) {
    form{
        border-radius: 2.5em;
    }
    .container{
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
    .logo, .login-container, form{
        width: 90%;
        height: 40vh;
        justify-content:center;
    }

    *{
        font-size: 12px;
    }
    button{
        /*line-height: 5em;*/
        /*font-size: 16px;*/
        padding: 1em;
    }
}




    